In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df=pd.read_csv("cleaned_data.csv")

In [4]:
df.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,No AddressLine2,NYC,NY,10022,USA,Earth,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,No AddressLine2,Reims,No State mentioned,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,No AddressLine2,Paris,No State mentioned,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,No AddressLine2,Pasadena,CA,90003,USA,Earth,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,No AddressLine2,San Francisco,CA,000000,USA,Earth,Brown,Julie,Medium

In [5]:
df.isna().sum()

ORDERNUMBER         0
QUANTITYORDERED     0
PRICEEACH           0
ORDERLINENUMBER     0
SALES               0
ORDERDATE           0
STATUS              0
QTR_ID              0
MONTH_ID            0
YEAR_ID             0
PRODUCTLINE         0
MSRP                0
PRODUCTCODE         0
CUSTOMERNAME        0
PHONE               0
ADDRESSLINE1        0
ADDRESSLINE2        0
CITY                0
STATE               0
POSTALCODE          0
COUNTRY             0
TERRITORY           0
CONTACTLASTNAME     0
CONTACTFIRSTNAME    0
DEALSIZE            0
dtype: int64

In [6]:
df.drop("POSTALCODE",axis=1)

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,PHONE,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,2125557818,897 Long Airport Avenue,No AddressLine2,NYC,NY,USA,Earth,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,26.47.1555,59 rue de l'Abbaye,No AddressLine2,Reims,No State mentioned,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,No AddressLine2,Paris,No State mentioned,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,6265557265,78934 Hillside Dr.,No AddressLine2,Pasadena,CA,USA,Earth,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,6505551386,7734 Strong St.,No AddressLine2,San Francisco,CA,USA,Earth,Brown,Julie,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2818,10350,20,100.00,15,2244.40,12/2/2004 0:00,Shipped,4,12,2004,...,(91) 555 94 44,"C/ Moralzarzal, 86",No AddressLine2,Madrid,No State mentioned,Spain,EMEA,Freyre,Diego,Small
2819,10373,29,100.00,1,3978.51,1/31/2005 0:00,Shipped,1,1,2005,...,981-443655,Torikatu 38,No AddressLine2,Oulu,No State mentioned,Finland,EMEA,Koskitalo,Pirkko,Medium
2820,10386,43,100.00,4,5417.57,3/1/2005 0:00,Resolved,1,3,2005,...,(91) 555 94 44,"C/ Moralzarzal, 86",No AddressLine2,Madrid,No State mentioned,Spain,EMEA,Freyre,Diego,Medium
2821,10397,34,62.24,1,2116.16,3/28/2005 0:00,Shipped,1,3,2005,...,61.77.6555,1 rue Alsace-Lorraine,No AddressLine2,Toulouse,No State mentioned,France,EMEA,Roulet,Annette,Small
2822,10414,47,65.52,9,3079.44,5/6/2005 0:00,On Hold,2,5,2005,...,6175559555,8616 Spinnaker Dr.,No AddressLine2,Boston,MA,USA,Earth,Yoshido,Juri,Medium

In [7]:
total_revenue=df["SALES"].sum()/1000000
total_revenue=total_revenue.round(2)
print(f"Total Revenue: {total_revenue} millions")

Total Revenue: 10.03 millions

In [8]:
df.groupby("TERRITORY")["SALES"]

In [9]:
total_sales = df.groupby("TERRITORY")
print(total_sales)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000002EAF6B99B50>

In [10]:
total_sales = df.groupby("TERRITORY")["SALES"].sum().sort_values(ascending=False)
print(total_sales)

TERRITORY
EMEA     4979272.41
Earth    3852061.39
APAC      746121.83
Japan     455173.22
Name: SALES, dtype: float64

In [11]:
df_total_sales = total_sales.reset_index()
df_total_sales.columns = ["Region","Amount"]

In [12]:
df_total_sales

  Region      Amount
0   EMEA  4979272.41
1  Earth  3852061.39
2   APAC   746121.83
3  Japan   455173.22

In [13]:
total_sales_by_country = df.groupby("COUNTRY")["ORDERNUMBER"].count().sort_values(ascending=False)
df_total_sales_by_country = total_sales_by_country.reset_index()
df_total_sales_by_country.columns = {"Country","No_Of_Order"}

In [14]:
df_total_sales_by_country

    No_Of_Order  Country
0           USA     1004
1         Spain      342
2        France      314
3     Australia      185
4            UK      144
5         Italy      113
6       Finland       92
7        Norway       85
8     Singapore       79
9        Canada       70
10      Denmark       63
11      Germany       62
12       Sweden       57
13      Austria       55
14        Japan       52
15      Belgium       33
16  Switzerland       31
17  Philippines       26
18      Ireland       16

In [15]:
most_bought_by_country=df.groupby("COUNTRY")["PRODUCTLINE"].agg(lambda x: x.value_counts().idxmax())

In [44]:
df_most_bought_by_country=most_bought_by_country.reset_index()
df_most_bought_by_country.columns = {"Country","Most Frequently Bought"}

In [45]:
df_most_bought_by_country

   Most Frequently Bought           Country
0               Australia      Vintage Cars
1                 Austria      Classic Cars
2                 Belgium      Vintage Cars
3                  Canada  Trucks and Buses
4                 Denmark      Classic Cars
5                 Finland      Classic Cars
6                  France      Classic Cars
7                 Germany      Classic Cars
8                 Ireland      Classic Cars
9                   Italy      Vintage Cars
10                  Japan            Planes
11                 Norway      Classic Cars
12            Philippines      Classic Cars
13              Singapore      Classic Cars
14                  Spain      Classic Cars
15                 Sweden      Classic Cars
16            Switzerland      Classic Cars
17                     UK      Classic Cars
18                    USA      Classic Cars

In [18]:
df[df.select_dtypes(include='number').lt(70).any(axis=1)]

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,No AddressLine2,NYC,NY,10022,USA,Earth,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,No AddressLine2,Reims,No State mentioned,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,No AddressLine2,Paris,No State mentioned,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,No AddressLine2,Pasadena,CA,90003,USA,Earth,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,No AddressLine2,San Francisco,CA,000000,USA,Earth,Brown,Julie,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2818,10350,20,100.00,15,2244.40,12/2/2004 0:00,Shipped,4,12,2004,...,"C/ Moralzarzal, 86",No AddressLine2,Madrid,No State mentioned,28034,Spain,EMEA,Freyre,Diego,Small
2819,10373,29,100.00,1,3978.51,1/31/2005 0:00,Shipped,1,1,2005,...,Torikatu 38,No AddressLine2,Oulu,No State mentioned,90110,Finland,EMEA,Koskitalo,Pirkko,Medium
2820,10386,43,100.00,4,5417.57,3/1/2005 0:00,Resolved,1,3,2005,...,"C/ Moralzarzal, 86",No AddressLine2,Madrid,No State mentioned,28034,Spain,EMEA,Freyre,Diego,Medium
2821,10397,34,62.24,1,2116.16,3/28/2005 0:00,Shipped,1,3,2005,...,1 rue Alsace-Lorraine,No AddressLine2,Toulouse,No State mentioned,31000,France,EMEA,Roulet,Annette,Small
2822,10414,47,65.52,9,3079.44,5/6/2005 0:00,On Hold,2,5,2005,...,8616 Spinnaker Dr.,No AddressLine2,Boston,MA,51003,USA,Earth,Yoshido,Juri,Medium

In [19]:
df.dtypes

ORDERNUMBER           int64
QUANTITYORDERED       int64
PRICEEACH           float64
ORDERLINENUMBER       int64
SALES               float64
ORDERDATE            object
STATUS               object
QTR_ID                int64
MONTH_ID              int64
YEAR_ID               int64
PRODUCTLINE          object
MSRP                  int64
PRODUCTCODE          object
CUSTOMERNAME         object
PHONE                object
ADDRESSLINE1         object
ADDRESSLINE2         object
CITY                 object
STATE                object
POSTALCODE           object
COUNTRY              object
TERRITORY            object
CONTACTLASTNAME      object
CONTACTFIRSTNAME     object
DEALSIZE             object
dtype: object

In [20]:
df["ORDERDATE"]=pd.to_datetime(df["ORDERDATE"],errors='coerce')

In [21]:
pd.set_option("display.max_columns", None)

In [22]:
exported_df = df[['ORDERNUMBER', 'QUANTITYORDERED', 'PRICEEACH', 'ORDERLINENUMBER',
       'SALES','ORDERDATE','STATUS', 'QTR_ID', 'MONTH_ID', 'YEAR_ID',
       'PRODUCTLINE','MSRP', 'PRODUCTCODE', 'CITY', 'STATE', 'POSTALCODE',
       'COUNTRY', 'TERRITORY', 'DEALSIZE']]

In [23]:
exported_df

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,MSRP,PRODUCTCODE,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,DEALSIZE
0,10107,30,95.70,2,2871.00,2003-02-24,Shipped,1,2,2003,Motorcycles,95,S10_1678,NYC,NY,10022,USA,Earth,Small
1,10121,34,81.35,5,2765.90,2003-05-07,Shipped,2,5,2003,Motorcycles,95,S10_1678,Reims,No State mentioned,51100,France,EMEA,Small
2,10134,41,94.74,2,3884.34,2003-07-01,Shipped,3,7,2003,Motorcycles,95,S10_1678,Paris,No State mentioned,75508,France,EMEA,Medium
3,10145,45,83.26,6,3746.70,2003-08-25,Shipped,3,8,2003,Motorcycles,95,S10_1678,Pasadena,CA,90003,USA,Earth,Medium
4,10159,49,100.00,14,5205.27,2003-10-10,Shipped,4,10,2003,Motorcycles,95,S10_1678,San Francisco,CA,000000,USA,Earth,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2818,10350,20,100.00,15,2244.40,2004-12-02,Shipped,4,12,2004,Ships,54,S72_3212,Madrid,No State mentioned,28034,Spain,EMEA,Small
2819,10373,29,100.00,1,3978.51,2005-01-31,Shipped,1,1,2005,Ships,54,S72_3212,Oulu,No State mentioned,90110,Finland,EMEA,Medium
2820,10386,43,100.00,4,5417.57,2005-03-01,Resolved,1,3,2005,Ships,54,S72_3212,Madrid,No State mentioned,28034,Spain,EMEA,Medium
2821,10397,34,62.24,1,2116.16,2005-03-28,Shipped,1,3,2005,Ships,54,S72_3212,Toulouse,No State mentioned,31000,France,EMEA,Small
2822,10414,47,65.52,9,3079.44,2005-05-06,On Hold,2,5,2005,Ships,54,S72_3212,Boston,MA,51003,USA,Earth,Medium

In [24]:
display(df.groupby("COUNTRY")['SALES'].mean().to_frame())

                   SALES
COUNTRY
Australia    3408.773514
Austria      3673.864182
Belgium      3285.230909
Canada       3201.122286
Denmark      3899.002381
Finland      3582.412065
France       3537.950701
Germany      3556.001452
Ireland      3609.776875
Italy        3315.701858
Japan        3618.611731
Norway       3617.220000
Philippines  3615.989615
Singapore    3651.752025
Spain        3554.640117
Sweden       3684.459825
Switzerland  3797.211613
UK           3325.558750
USA          3613.528715

In [25]:
df.loc[df["TERRITORY"]=="Earth","TERRITORY"]="AMER"

In [26]:
df.loc[df["COUNTRY"]=="Singapore","TERRITORY"]="APAC"
df.loc[df["COUNTRY"]=="Philippines","TERRITORY"]="APAC"

In [27]:
display(df.groupby(["TERRITORY","COUNTRY"])["SALES"].mean().to_frame())

                             SALES
TERRITORY COUNTRY
AMER      Canada       3201.122286
          USA          3613.528715
APAC      Australia    3408.773514
          Philippines  3615.989615
          Singapore    3651.752025
EMEA      Austria      3673.864182
          Belgium      3285.230909
          Denmark      3899.002381
          Finland      3582.412065
          France       3537.950701
          Germany      3556.001452
          Ireland      3609.776875
          Italy        3315.701858
          Norway       3617.220000
          Spain        3554.640117
          Sweden       3684.459825
          Switzerland  3797.211613
          UK           3325.558750
Japan     Japan        3618.611731

In [35]:
df.loc[df["TERRITORY"]=="Japan","TERRITORY"]="APAC"

In [36]:
display(df.groupby(["TERRITORY","COUNTRY"])["SALES"].mean().to_frame())

                             SALES
TERRITORY COUNTRY
AMER      Canada       3201.122286
          USA          3613.528715
APAC      Australia    3408.773514
          Japan        3618.611731
          Philippines  3615.989615
          Singapore    3651.752025
EMEA      Austria      3673.864182
          Belgium      3285.230909
          Denmark      3899.002381
          Finland      3582.412065
          France       3537.950701
          Germany      3556.001452
          Ireland      3609.776875
          Italy        3315.701858
          Norway       3617.220000
          Spain        3554.640117
          Sweden       3684.459825
          Switzerland  3797.211613
          UK           3325.558750

In [37]:
df.loc[df["TERRITORY"]=="EMEA","TERRITORY"]="EUROPE"

In [46]:
display(df.groupby(["TERRITORY","COUNTRY"])["SALES"].mean().to_frame())

                             SALES
TERRITORY COUNTRY
AMER      Canada       3201.122286
          USA          3613.528715
APAC      Australia    3408.773514
          Japan        3618.611731
          Philippines  3615.989615
          Singapore    3651.752025
EUROPE    Austria      3673.864182
          Belgium      3285.230909
          Denmark      3899.002381
          Finland      3582.412065
          France       3537.950701
          Germany      3556.001452
          Ireland      3609.776875
          Italy        3315.701858
          Norway       3617.220000
          Spain        3554.640117
          Sweden       3684.459825
          Switzerland  3797.211613
          UK           3325.558750

In [49]:
df.loc[df["COUNTRY"]=="USA","COUNTRY"]="United States of America"

In [50]:
df.loc[df["COUNTRY"]=="UK","COUNTRY"]="United Kingdom"

In [52]:
df.groupby(["TERRITORY","COUNTRY"])["SALES"].mean().to_frame()

                                          SALES
TERRITORY COUNTRY
AMER      Canada                    3201.122286
          United States of America  3613.528715
APAC      Australia                 3408.773514
          Japan                     3618.611731
          Philippines               3615.989615
          Singapore                 3651.752025
EUROPE    Austria                   3673.864182
          Belgium                   3285.230909
          Denmark                   3899.002381
          Finland                   3582.412065
          France                    3537.950701
          Germany                   3556.001452
          Ireland                   3609.776875
          Italy                     3315.701858
          Norway                    3617.220000
          Spain                     3554.640117
          Sweden                    3684.459825
          Switzerland               3797.211613
          United Kingdom            3325.558750

In [53]:
df["ONLY_MONTH"]=df["ORDERDATE"].dt.month

In [54]:
df["ONLY_DAY"]=df["ORDERDATE"].dt.day

In [55]:
df["ONLY_YEAR"]=df["ORDERDATE"].dt.year

In [56]:
df.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,MSRP,PRODUCTCODE,CUSTOMERNAME,PHONE,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE,ONLY_MONTH,ONLY_DAY,ONLY_YEAR
0,10107,30,95.70,2,2871.00,2003-02-24,Shipped,1,2,2003,Motorcycles,95,S10_1678,Land of Toys Inc.,2125557818,897 Long Airport Avenue,No AddressLine2,NYC,NY,10022,United States of America,AMER,Yu,Kwai,Small,2,24,2003
1,10121,34,81.35,5,2765.90,2003-05-07,Shipped,2,5,2003,Motorcycles,95,S10_1678,Reims Collectables,26.47.1555,59 rue de l'Abbaye,No AddressLine2,Reims,No State mentioned,51100,France,EUROPE,Henriot,Paul,Small,5,7,2003
2,10134,41,94.74,2,3884.34,2003-07-01,Shipped,3,7,2003,Motorcycles,95,S10_1678,Lyon Souveniers,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,No AddressLine2,Paris,No State mentioned,75508,France,EUROPE,Da Cunha,Daniel,Medium,7,1,2003
3,10145,45,83.26,6,3746.70,2003-08-25,Shipped,3,8,2003,Motorcycles,95,S10_1678,Toys4GrownUps.com,6265557265,78934 Hillside Dr.,No AddressLine2,Pasadena,CA,90003,United States of America,AMER,Young,Julie,Medium,8,25,2003
4,10159,49,100.00,14,5205.27,2003-10-10,Shipped,4,10,2003,Motorcycles,95,S10_1678,Corporate Gift Ideas Co.,6505551386,7734 Strong St.,No AddressLine2,San Francisco,CA,000000,United States of America,AMER,Brown,Julie,Medium,10,10,2003

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2823 entries, 0 to 2822
Data columns (total 28 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ORDERNUMBER       2823 non-null   int64
 1   QUANTITYORDERED   2823 non-null   int64
 2   PRICEEACH         2823 non-null   float64
 3   ORDERLINENUMBER   2823 non-null   int64
 4   SALES             2823 non-null   float64
 5   ORDERDATE         2823 non-null   datetime64[ns]
 6   STATUS            2823 non-null   object
 7   QTR_ID            2823 non-null   int64
 8   MONTH_ID          2823 non-null   int64
 9   YEAR_ID           2823 non-null   int64
 10  PRODUCTLINE       2823 non-null   object
 11  MSRP              2823 non-null   int64
 12  PRODUCTCODE       2823 non-null   object
 13  CUSTOMERNAME      2823 non-null   object
 14  PHONE             2823 non-null   object
 15  ADDRESSLINE1      2823 non-null   object
 16  ADDRESSLINE2      2823 non-null   object
 17  CITY              2823 non-null   object
 18  STATE             2823 non-null   object
 19  POSTALCODE        2823 non-null   object
 20  COUNTRY           2823 non-null   object
 21  TERRITORY         2823 non-null   object
 22  CONTACTLASTNAME   2823 non-null   object
 23  CONTACTFIRSTNAME  2823 non-null   object
 24  DEALSIZE          2823 non-null   object
 25  ONLY_MONTH        2823 non-null   int32
 26  ONLY_DAY          2823 non-null   int32
 27  ONLY_YEAR         2823 non-null   int32
dtypes: datetime64[ns](1), float64(2), int32(3), int64(7), object(15)
memory usage: 584.6+ KB