In [63]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [64]:
df=pd.read_csv("sales_data_sample.csv",encoding="latin1")

In [65]:
df.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium

In [66]:
df.isna()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,True,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,True,False,True,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,True,False,True,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,True,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,True,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2818,False,False,False,False,False,False,False,False,False,False,...,False,True,False,True,False,False,False,False,False,False
2819,False,False,False,False,False,False,False,False,False,False,...,False,True,False,True,False,False,False,False,False,False
2820,False,False,False,False,False,False,False,False,False,False,...,False,True,False,True,False,False,False,False,False,False
2821,False,False,False,False,False,False,False,False,False,False,...,False,True,False,True,False,False,False,False,False,False
2822,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,True,False,False,False

In [67]:
df.isna().sum()

ORDERNUMBER            0
QUANTITYORDERED        0
PRICEEACH              0
ORDERLINENUMBER        0
SALES                  0
ORDERDATE              0
STATUS                 0
QTR_ID                 0
MONTH_ID               0
YEAR_ID                0
PRODUCTLINE            0
MSRP                   0
PRODUCTCODE            0
CUSTOMERNAME           0
PHONE                  0
ADDRESSLINE1           0
ADDRESSLINE2        2521
CITY                   0
STATE               1486
POSTALCODE            76
COUNTRY                0
TERRITORY           1074
CONTACTLASTNAME        0
CONTACTFIRSTNAME       0
DEALSIZE               0
dtype: int64

In [68]:
df.loc

In [69]:
df.loc[df["ADDRESSLINE2"].isna(),:]

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2818,10350,20,100.00,15,2244.40,12/2/2004 0:00,Shipped,4,12,2004,...,"C/ Moralzarzal, 86",NaN,Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Small
2819,10373,29,100.00,1,3978.51,1/31/2005 0:00,Shipped,1,1,2005,...,Torikatu 38,NaN,Oulu,NaN,90110,Finland,EMEA,Koskitalo,Pirkko,Medium
2820,10386,43,100.00,4,5417.57,3/1/2005 0:00,Resolved,1,3,2005,...,"C/ Moralzarzal, 86",NaN,Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Medium
2821,10397,34,62.24,1,2116.16,3/28/2005 0:00,Shipped,1,3,2005,...,1 rue Alsace-Lorraine,NaN,Toulouse,NaN,31000,France,EMEA,Roulet,Annette,Small
2822,10414,47,65.52,9,3079.44,5/6/2005 0:00,On Hold,2,5,2005,...,8616 Spinnaker Dr.,NaN,Boston,MA,51003,USA,NaN,Yoshido,Juri,Medium

In [70]:
df.loc[df["ADDRESSLINE2"].isna(),"ORDERNUMBER":"PRICEEACH"]

      ORDERNUMBER  QUANTITYORDERED  PRICEEACH
0           10107               30      95.70
1           10121               34      81.35
2           10134               41      94.74
3           10145               45      83.26
4           10159               49     100.00
...           ...              ...        ...
2818        10350               20     100.00
2819        10373               29     100.00
2820        10386               43     100.00
2821        10397               34      62.24
2822        10414               47      65.52

[2521 rows x 3 columns]

In [71]:
df.columns

Index(['ORDERNUMBER', 'QUANTITYORDERED', 'PRICEEACH', 'ORDERLINENUMBER',
       'SALES', 'ORDERDATE', 'STATUS', 'QTR_ID', 'MONTH_ID', 'YEAR_ID',
       'PRODUCTLINE', 'MSRP', 'PRODUCTCODE', 'CUSTOMERNAME', 'PHONE',
       'ADDRESSLINE1', 'ADDRESSLINE2', 'CITY', 'STATE', 'POSTALCODE',
       'COUNTRY', 'TERRITORY', 'CONTACTLASTNAME', 'CONTACTFIRSTNAME',
       'DEALSIZE'],
      dtype='object')

In [72]:
df.loc[df["ADDRESSLINE2"].isna(),"ADDRESSLINE2"]="No AddressLine2"

In [73]:
df.loc[df["STATE"].isna(),"STATE"]="No State mentioned"

In [74]:
df.isna().sum()

ORDERNUMBER            0
QUANTITYORDERED        0
PRICEEACH              0
ORDERLINENUMBER        0
SALES                  0
ORDERDATE              0
STATUS                 0
QTR_ID                 0
MONTH_ID               0
YEAR_ID                0
PRODUCTLINE            0
MSRP                   0
PRODUCTCODE            0
CUSTOMERNAME           0
PHONE                  0
ADDRESSLINE1           0
ADDRESSLINE2           0
CITY                   0
STATE                  0
POSTALCODE            76
COUNTRY                0
TERRITORY           1074
CONTACTLASTNAME        0
CONTACTFIRSTNAME       0
DEALSIZE               0
dtype: int64

In [75]:
df.sample(10)

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
1853,10212,27,79.62,2,2149.74,1/16/2004 0:00,Shipped,1,1,2004,...,"C/ Moralzarzal, 86",No AddressLine2,Madrid,No State mentioned,28034,Spain,EMEA,Freyre,Diego,Small
1180,10287,27,100.00,2,4310.55,8/30/2004 0:00,Shipped,3,8,2004,...,Grenzacherweg 237,No AddressLine2,Gensve,No State mentioned,1203,Switzerland,EMEA,Holz,Michael,Medium
2272,10371,30,99.55,11,2986.50,1/23/2005 0:00,Shipped,1,1,2005,...,5677 Strong St.,No AddressLine2,San Rafael,CA,97562,USA,NaN,Nelson,Valarie,Small
2494,10262,40,84.03,4,3361.20,6/24/2004 0:00,Cancelled,2,6,2004,...,"C/ Moralzarzal, 86",No AddressLine2,Madrid,No State mentioned,28034,Spain,EMEA,Freyre,Diego,Medium
1345,10140,29,43.27,9,1254.83,7/24/2003 0:00,Shipped,3,7,2003,...,9408 Furth Circle,No AddressLine2,Burlingame,CA,94217,USA,NaN,Hirano,Juri,Small
871,10287,44,100.00,1,5052.96,8/30/2004 0:00,Shipped,3,8,2004,...,Grenzacherweg 237,No AddressLine2,Gensve,No State mentioned,1203,Switzerland,EMEA,Holz,Michael,Medium
1837,10315,24,86.74,1,2081.76,10/29/2004 0:00,Shipped,4,10,2004,...,"67, rue des Cinquante Otages",No AddressLine2,Nantes,No State mentioned,44000,France,EMEA,Labrune,Janine,Small
2341,10285,26,100.00,4,2600.26,8/27/2004 0:00,Shipped,3,8,2004,...,39323 Spinnaker Dr.,No AddressLine2,Cambridge,MA,51247,USA,NaN,Hernandez,Marta,Small
2738,10350,25,100.00,16,2854.75,12/2/2004 0:00,Shipped,4,12,2004,...,"C/ Moralzarzal, 86",No AddressLine2,Madrid,No State mentioned,28034,Spain,EMEA,Freyre,Diego,Small
2089,10304,33,100.00,10,3342.57,10/11/2004 0:00,Shipped,4,10,2004,...,"67, avenue de l'Europe",No AddressLine2,Versailles,No State mentioned,78000,France,EMEA,Tonini,Daniel,Medium

In [76]:
df.loc[df["POSTALCODE"].isna(),:]

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,No AddressLine2,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium
8,10201,22,98.57,2,2168.54,12/1/2003 0:00,Shipped,4,12,2003,...,5557 North Pendale Street,No AddressLine2,San Francisco,CA,NaN,USA,NaN,Murphy,Julie,Small
46,10333,26,100.00,3,3003.00,11/18/2004 0:00,Shipped,4,11,2004,...,5557 North Pendale Street,No AddressLine2,San Francisco,CA,NaN,USA,NaN,Murphy,Julie,Medium
50,10381,36,100.00,3,8254.80,2/17/2005 0:00,Shipped,1,2,2005,...,7734 Strong St.,No AddressLine2,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Large
58,10159,37,100.00,17,5016.83,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,No AddressLine2,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2331,10159,23,100.00,12,2347.15,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,No AddressLine2,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Small
2436,10159,31,71.60,10,2219.60,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,No AddressLine2,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Small
2531,10384,49,100.00,1,6397.44,2/23/2005 0:00,Shipped,1,2,2005,...,7734 Strong St.,No AddressLine2,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium
2543,10209,33,88.71,4,2927.43,1/9/2004 0:00,Shipped,1,1,2004,...,6047 Douglas Av.,No AddressLine2,Los Angeles,CA,NaN,USA,NaN,Chandler,Michael,Small
2779,10209,48,44.69,3,2145.12,1/9/2004 0:00,Shipped,1,1,2004,...,6047 Douglas Av.,No AddressLine2,Los Angeles,CA,NaN,USA,NaN,Chandler,Michael,Small

In [77]:
df.loc[df["POSTALCODE"].isna(),"POSTALCODE"]="000000"

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2823 entries, 0 to 2822
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ORDERNUMBER       2823 non-null   int64
 1   QUANTITYORDERED   2823 non-null   int64
 2   PRICEEACH         2823 non-null   float64
 3   ORDERLINENUMBER   2823 non-null   int64
 4   SALES             2823 non-null   float64
 5   ORDERDATE         2823 non-null   object
 6   STATUS            2823 non-null   object
 7   QTR_ID            2823 non-null   int64
 8   MONTH_ID          2823 non-null   int64
 9   YEAR_ID           2823 non-null   int64
 10  PRODUCTLINE       2823 non-null   object
 11  MSRP              2823 non-null   int64
 12  PRODUCTCODE       2823 non-null   object
 13  CUSTOMERNAME      2823 non-null   object
 14  PHONE             2823 non-null   object
 15  ADDRESSLINE1      2823 non-null   object
 16  ADDRESSLINE2      2823 non-null   object
 17  CITY              2823 non-null   object
 18  STATE             2823 non-null   object
 19  POSTALCODE        2823 non-null   object
 20  COUNTRY           2823 non-null   object
 21  TERRITORY         1749 non-null   object
 22  CONTACTLASTNAME   2823 non-null   object
 23  CONTACTFIRSTNAME  2823 non-null   object
 24  DEALSIZE          2823 non-null   object
dtypes: float64(2), int64(7), object(16)
memory usage: 551.5+ KB

In [79]:
df.loc[df["TERRITORY"].isna(),"TERRITORY"]="Earth"

In [80]:
df.isna().sum()

ORDERNUMBER         0
QUANTITYORDERED     0
PRICEEACH           0
ORDERLINENUMBER     0
SALES               0
ORDERDATE           0
STATUS              0
QTR_ID              0
MONTH_ID            0
YEAR_ID             0
PRODUCTLINE         0
MSRP                0
PRODUCTCODE         0
CUSTOMERNAME        0
PHONE               0
ADDRESSLINE1        0
ADDRESSLINE2        0
CITY                0
STATE               0
POSTALCODE          0
COUNTRY             0
TERRITORY           0
CONTACTLASTNAME     0
CONTACTFIRSTNAME    0
DEALSIZE            0
dtype: int64

In [81]:
df.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,No AddressLine2,NYC,NY,10022,USA,Earth,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,No AddressLine2,Reims,No State mentioned,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,No AddressLine2,Paris,No State mentioned,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,No AddressLine2,Pasadena,CA,90003,USA,Earth,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,No AddressLine2,San Francisco,CA,000000,USA,Earth,Brown,Julie,Medium

In [82]:
df.to_csv("cleaned_data.csv",index=False)